.white-text{
    color: white;
 }
 #purple-background{
    background-color: rgba(168, 71, 168, 0.829);
 }
#green-background{
    background-color: rgb(55, 155, 55)
}
.green-text{
    color: green;
}
body{
    font-family: 'Times New Roman';
    background-color: #ca81d1 ;
    color: rgb(0, 0, 100)
}
div.a{
    text-align: center
}